{% extends 'base.html' %}

{% block body %}
  <h1 class="page-header">Pet Survey</h1>
  <form class="form-horizontal well" method="post">
    {% csrf_token %}
    {% for field in form.hidden_fields %}
      {{ field }}
    {% endfor %}

    {% for field in form.visible_fields %}
      <div class="form-group{% if field.errors %} has-error{% elif field.value %} has-success{% endif %}">
        <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">{{ field.label }}</label>
        <div class="col-sm-10">
          {{ field }}
          {% if field.value or field.errors %}
            <span class="glyphicon glyphicon-{{ field.errors|yesno:'remove,ok' }} form-control-feedback"></span>
          {% endif %}
        </div>
        {% if field.errors %}
          <div class="col-sm-offset-2 col-sm-10">
            <span class="help-block">{% for error in field.errors %}{{ error|escape }}{% endfor %}</span>
          </div>
        {% endif %}
      </div>
    {% endfor %}

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
{% endblock %}
